<!-- this is the manager opening screen HTML -->
<meta charset="windows-1255">
	<div class="table1" border="1">
		<h1>Choose Table :</h1>
		<div>
			<input type="radio" name="changeTable" id="activeproject" value="activeproject">Active Project
			<input type="radio" name="changeTable" id="projectclosetoend" value="projectclosetoend">Projects About To Finish
			<input type="radio" name="changeTable" id="active/popularcustomer" value="active/popularcustomer">Active / Popular Customer
		</div>
		<div style="display: none" class="activeproject1">
			<h1 style="color: red">Active Projects</h1>
			<span class="glyphicon glyphicon-search"></span>search: <input class="glyphicon glyphicon-search" type="text" ng-model="search1" >
			<table width=80% class="tablecontent table table-striped table-bordered">
				<thead>
					<tr class="trbg">
						<th>Project Name</th>
						<th>Customer</th>
						<th>Customer Project Manager</th>
						<th>Project Manager Email</th>
						<th>Project Manager Phone</th>
						<th>Start Date</th>
						<th>End Date</th>
					</tr>
				</thead>
				<tr class="trbg" ng-repeat="x in list | filter:search1">
					<td>{{x.projectname}}</td>
					<td>{{x.customer.companyname}}</td>
					<td>{{x.customerprojectmanager}}</td>
					<td>{{x.projectmanageremail}}</td>
					<td>{{x.projectmanagerphone}}</td>
					<td>{{x.startdate}}</td>
					<td>{{x.enddate}}</td>
				</tr>
			</table>
		</div>
		<div style="display: none" class="projectclosetoend1">
			<h1 style="color: yellow">Projects About To Finish</h1>
			<span class="glyphicon glyphicon-search"></span>search: <input type="text" ng-model="search2" >
			<table width=80% class="tablecontent table table-striped table-bordered">
				<thead>
					<tr class="trbg">
						<th>Project Name</th>
						<th>Customer</th>
						<th>Customer Project Manager</th>
						<th>Project Manager Email</th>
						<th>Project Manager Phone</th>
						<th>Start Date</th>
						<th>End Date</th>
					</tr>
				</thead>
				<tr class="trbg" ng-repeat="x in list1 | filter:search2">
					<td>{{x.projectname}}</td>
					<td>{{x.customer.companyname}}</td>
					<td>{{x.customerprojectmanager}}</td>
					<td>{{x.projectmanageremail}}</td>
					<td>{{x.projectmanagerphone}}</td>
					<td>{{x.startdate}}</td>
					<td>{{x.enddate}}</td>
				</tr>
			</table>
		</div>
		<div style="display: none" class="activeorpopularcustomer1">
			<h1 style="color: green">Active Customers / Popular Customers</h1>
			<h2>Choose Table :</h2>
			<span class="glyphicon glyphicon-search"></span>search: <input type="text" ng-model="search3" >						
			  <input type="radio" name="changeTable1" id="activecustomer" value="activecustomer" > Active Customers
			  <input type="radio" name="changeTable1" id="popularcustomer" value="popularcustomer"> Popular Customers
			<div style="display: none" class="activecustomer1">
				<h1>Active Customers</h1>
				<table width=80% class="tablecontent table table-striped table-bordered">
					<thead>
						<tr class="trbg">
							<th>Company Name</th>
							<th>Company Number</th>
							<th>Contact Name</th>
							<th>Email</th>
							<th>Phone</th>
						</tr>
					</thead>
					<tr class="trbg" ng-repeat="x in list3 | filter:search3">
						<td>{{x.companyname}}</td>
						<td>{{x.companynumber}}</td>
						<td>{{x.contactname}}</td>
						<td>{{x.email}}</td>
						<td>{{x.phone}}</td>
					</tr>
				</table>
			</div>
			<div style="display: none" class="popularcustomer1">
				<h1>Popular Customers</h1>
				<table width=50% class="tablecontent table table-striped table-bordered">
					<thead>
						<tr class="trbg">
							<th>Company Name</th>
							<th>Projects</th>
						</tr>
					</thead>
					<tr class="trbg" ng-repeat="x in list4 | filter:search3">
						<td>{{x.companyname}}</td>
						<td>{{x.projects}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
